body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-image: linear-gradient(#4E0CF0, #AB0CF0, #ffffff);
    color: white;
    padding: 1em;
    text-align: center;
    height: 750px;
}

nav ul {
    padding-top: 1%;
    list-style-type: none;
    padding: 0; /* Fixed padding to 0 */
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    transition: all 0.3s ease; /* Changed to transition all */
}

nav ul li a:hover {
    background: #0d92f8;
    font-size: 25px;
}

.hero {
    margin: 2em 0;
    text-align: center;
}

.profile-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.social-icon {
    margin: 0 65px;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.3); /* Zoom in effect */
}
